@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f54748;
  --primary-color-light: #fcd2d2;
  --primary-color-dark: #d83e3e;
  --text-dark: #2e2e2e;
  --text-light: #595959;
  --extra-light: #f3f4f6;
  --extra-light-2: #f4eaea;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.general {
  background-image: linear-gradient(rgb(254, 237, 240), white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
  width: var(--max-width);
  margin: auto;
}

#page-logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

header #page-logo {
  text-decoration: none;
}

header img {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-logo p {
  /* padding: 0 16px; */
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
}

#header-nav-ul {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  font-size: 1.2rem;
}

.header-nav-li a {
  color: var(--text-dark);
  font-weight: 500;
  text-decoration: none;
}

.header-nav-li:hover {
  background-color: rgb(240, 202, 207);
  padding: 0.5rem;
  border-radius: 5px;
}

#hamburger-container {
  padding: 0.5rem;
  display: none;
}

#hamburger {
  width: 2.0rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#hamburger-container:hover {
  background-color: rgb(240, 184, 194);
  border-radius: 0.2rem;
}

#hamburger span {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
}

#side-drawer {
  height: 100%;
  width: 100%;
  background-color: #fcd2d2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#side-drawer:target {
  display: block;
}

#description {
  width: var(--max-width);
  margin: auto;
  display: flex;
  gap: 1.8rem;
  margin-top: 3.5rem;
  justify-content: space-around;
  /* padding: 20px; */
}

.description-content-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  background-color: var(--primary-color-light);
  padding: 10px 10px;
  border-radius: 20px;
}

.description-content-logo p {
  color: var(--primary-color);
  font-size: 1rem;
}

.description-content-logo img {
  width: 1.5rem;
  padding: 0;
}

.description-content-text h1 {
  font-size: 4.5rem;
  color: var(--text-dark);
  line-height: 5.25rem;
  margin: 1.8rem 0;
  width: 90%;
}

#sub-divide p {
  color: var(--text-light);
  width: 60%;
  margin-bottom: 1.5rem;
  padding-right: 3.1rem;
}

.description-content-button {
  display: flex;
  gap: 1.25rem;
}

#get-started{
  padding: 0px 1.25rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#get-started:hover {
  background-color: #ef2121;
}

#get-started a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}

.food {
  color: var(--primary-color);
}

.description-content-button p a {
  text-decoration: none;
  color: var(--text-light);
  font-weight: 400;
}

.description-content-button i {
  color: rgb(246, 172, 36);
  font-size: larger;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 3px 4px 3px 3px rgb(247, 241, 241);
}

.description-image img {
  width: 34rem;
}

#services {
  width: var(--max-width);
  margin: 6rem auto 3.1rem;
}

#services-p {
  text-align: center;
  line-height: 24px;
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

#services h1 {
  font-size: 3rem;
  text-transform: capitalize;
  width: 31.2rem;
  text-align: center;
  margin: auto;
  line-height: 3.8rem;
}

.different-services {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15.6rem;
  margin: 4rem 0;
}

.service-img {
  margin-bottom: 1.25rem;
}

.service img {
  width: 11.25rem;
}

#services-p {
  font-weight: 500;
}

.service h3 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.service p {
  text-align: center;
  color: var(--text-light);
  line-height: 1.5rem;
}

#menus {
  width: var(--max-width);
  margin: 5rem auto;
}

#menu-p {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.8rem;
}

#menus h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  color: var(--text-dark);
  line-height: 4rem;
}

.swiper-container {
    max-width: 69.4rem;
    margin: 0 auto;
    padding: 0 0.65rem;
    overflow: hidden;
}

.swiper,
.swiper-wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.swiper-wrapper {
  display: flex;
  gap: 10px;
   margin: 60px 0;
}

.swiper-wrapper:active {
  cursor: grabbing;
}

.swiper-slide {
  width: 100% !important;  /* Prevent overflow */
 box-sizing: border-box;
}

.menu {
  position: relative;
}

.menu-image img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  object-fit: fill;
  filter:brightness(0.7);
}

.menu-image-details {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-name {
  font-size: 20px;
  font-weight: 700;
}

.price {
  font-size: 32px;
  padding-left: 5px;
  font-weight: 600;
}

.i {
  color: rgb(239, 187, 90);
  font-size: 18px;
  font-weight: 600;
}

#review {
  margin: 5rem auto;
  width: var(--max-width);
  display: flex;
  justify-content: space-between;
  gap: 1.9rem;
  padding: 0 20px;
}

.img-xx {
  width: 34.3rem;
  padding-right: 0.7rem;
}

#review-div {
  align-items: center;
  padding: 6.8rem 0.5rem 1.25rem 0;
}

.review-p1 {
  color: var(--primary-color);
  letter-spacing: 2px;
  text-transform: uppercase; 
  font-weight: 500;
}

#review-div h1 {
  text-transform: capitalize;
  font-size: 48px;
  color: var(--text-dark);
  line-height: 64px;
  margin-top: 10px;
}

.review-p2 {
  font-size: 18px;
  color: var(--text-light);
  margin-top: 40px;
}

.review-div-img {
  display: flex;
  gap: 10px;
  margin-top: 1.8rem;
  padding-top: 10px;
}

.review-div-img img {
  width: 3rem;
  border-radius: 100%;
}

.review-div-img h3 {
  color: var(--text-dark);
  font-weight: 700;
}

.review-div-img p {
  color: var(--text-light);
  font-weight: 500;
}

.review-rating {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1.8rem;
  color: rgb(200, 149, 53);
  font-size: 1.1rem;
}

.rating-value {
  font-size: 1.2rem;
  color: var(--text-dark);
  font-weight: 500;
  display: flex;
  align-items: center;
}

#guide {
  width: 100%;
  background-color: rgb(254,246,246);
  padding-top: 1.8rem;
  margin-bottom: 5rem;
}

#guide-div {
  width: var(--max-width);
  margin: auto;
  display: flex;
  gap: 1.8rem;
  justify-content: space-between;
}

.guide-div {
  padding: 5rem 1.8rem 0 0;
}

.guide-p1 {
  color: var(--primary-color);
  letter-spacing: 2px;
  text-transform: uppercase; 
  font-weight: 500;
}

.guide-div h1 {
  font-size: 3rem;
  color: var(--text-dark);
  text-transform: capitalize;
}

.guide-p2 {
  color: var(--text-light);
  margin-top: 1.25rem;
}

.guide-div button {
  margin-top: 2.5rem;
  padding: 0.75rem 1.8rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
}

.guide-div button:hover {
  background-color: #f46262;
}

#guide-div img {
  width: 34.4rem;
}

.footer {
  width: var(--max-width);
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: 400px 1fr;
}

#footer-page-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-logo-img a img {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  font-weight: 600;
  font-size: 24px;
}

.socials {
  padding-right: 40px;
  padding-left: 10px;
}

.socials-p {
  color: var(--text-light);
  line-height: 25px;
  margin-top: 20px;
  padding: 10px 0;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-color);
}

.info-details {
  display: flex;
  justify-content: space-evenly;
}

.info-details h4 {
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.info-details ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-details li {
  list-style: none;
  color: var(--text-light);
}

footer {
  text-align: center;
  color: var(--text-light);
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.swiper-slide-button {
  color: red;
}

@media (max-width: 48rem){
  header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
  }

  #page-logo {
    gap: 0.4rem;
  }

  #page-logo p {
    white-space: nowrap;
    font-size: 1.2rem;
  }

  header img {
    width: 2rem;
  }

  header nav {
    display: none;
  }

  #hamburger-container {
    display: flex;
  }

  #side-drawer {
  height: 100%;
  width: 100%;
  background-color: #fcd2d2;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  z-index: 99;
}

#side-drawer header {
  width: 100%;
  padding: 1.5rem 1rem;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside nav li {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

aside nav a {
  text-decoration: none;
  color: #2a2828;
}

  #description {
    width: 100%;
    margin: auto;
    margin-top: 1.0rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .description-image {
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description-image img {
  width: 20rem;
}

.description-content {
  padding: 1rem;
  margin: auto;
}

.description-content-logo{
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.description-content-logo p {
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
}

.description-content-logo img {
  width: 1.5rem;
}

.description-content-text h1 {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: var(--text-dark);
  line-height: 2rem;
  margin: 2rem 0 1rem;
}

#sub-divide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sub-divide p{
  width: 90%;
  margin: auto;
  padding: 0;
  font-size: 0.8rem;
  text-align: center;
}

#sub-divide-p {
  text-align: center;
  margin-bottom: 1rem;
}

.description-content-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-content-button button {
  width: 100%;
}

#get-started a {
  font-size: 1rem;
}

#services {
  width: 100%;
  margin: 2rem auto;
}

#services-p {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

#services h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 90%;
  text-align: center;
  margin: auto;
  line-height: 2rem;
}

.different-services {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.service {
  margin: 1rem 0;
  width: 70%;
  background-color: var(--primary-color-light);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.service-img {
  margin-bottom: 1rem;
}

.service img {
  height: 7rem;
  width: 100%;
  border-radius: 20px;
}

.service h3 {
  color: var(--text-dark);
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.service p {
  text-align: center;
  color: var(--text-light);
  font-size: 0.8rem;
  line-height: 1.2rem;
}

#menus {
  width: 100%;
  margin: 2rem 0;
}

#menu-p {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
  margin-bottom: 0.8rem;
}

#menus h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 90%;
  padding: 0 0.5rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5rem;
}

.swiper-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    float:none;
    left: auto;
    right: auto;
    padding-left: 1.5rem;
  }

  .swiper-slide {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .swiper-slide-button, .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .swiper-pagination {
    display: none;
  }

.swiper-container:first-child {
  margin-top: 2.5rem !important;
}

.menu-image {
  width: 90%;
}

.menu-image img {
  width: 15rem;
  height: 15rem;
}

.menu-image-details {
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu-name {
  font-size: 1.2rem;
  margin: 0;
}

.price-tag {
  margin: 0;
}

.price {
  font-size: 1.5rem;
}

.menu-order {
  margin: 0;
}

.i {
  font-size: 1rem;
}

#review {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1.5rem;
}

#review-div {
  padding: 0;
}

.review-p1 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

#review-div h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto 1.5rem;
  line-height: 0.5rem;
}

.review-p2 {
  font-size: 1rem;
  color: var(--text-light);
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.review-div-img {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.review-div-img img {
  width: 3rem;
  border-radius: 100%;
}

.review-div-img h3 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.review-div-img p {
  color: var(--text-light);
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
}

.review-rating {
  color: rgb(200, 149, 53);
  font-size: 0.8rem;
}

.rating-value {
  font-size: 0.8rem;
  color: var(--text-dark);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.div-img-xx {
  margin: 0 auto;
}

.img-xx {
  width: 20rem;
  padding-right: 0;
}

#guide {
  width: 100%;
  margin: 3rem auto;
}

#guide-div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 2rem;
}

.guide-div {
  padding: 0;
}

.guide-p1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.guide-div h1 {
  width: 70%;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-dark);
  text-transform: capitalize;
}

.guide-p2 {
  color: var(--text-light);
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.guide-div button {
  width: 60%; 
  margin: 1rem auto;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guide-div img {
  width: 20rem;
  margin: auto;
}

.footer {
  width: 100%;
  margin: 0 auto 5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.footer-logo-img a img {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.socials-p {
  display: none;
}

.social-icons {
  margin: 0;
}

.social-icons a {
  font-size: 1.2rem;
}

.info-details h4 {
  font-size: 1rem;
  margin-top: 0;
}

.info-details ul {
  padding: 0;
  margin: 0;
}

.info-details li {
  font-size: 0.8rem;
}

footer {
  width: 100%;
  text-align: center;
  color: var(--text-light);
  margin-bottom: 1rem;
}
}